<div class="form-new mt-5">
  <h1>Add a recipe to <%= @category.name %></h1>

  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: "Leave a comment" %>
    <%= f.association :recipe %>
    <%= f.submit "Add recipe", class: "btn btn-outline-dark" %>
  <% end %>
</div>
